<h1>Editing post <%= post._id %></h2>

<%- f = form_for(post, {action: 'update', path: '/posts/' + post._id}) %>
  <p>
    <%- f.label('title') %>
    <%- f.text('title') %>
  </p>
  <p>
    <%- f.label('content') %>
    <%- f.textarea('content') %>
  </p>
  <%- f.submit('Update') %>
<%- f.end() %>

<%- f = form_for(post, {action: 'destroy', path: '/posts/' + post._id}) %>
  <%- f.submit('Delete') %>
<%- f.end() %>
